amqp==2.2.2
arrow==0.8.0
beautifulsoup4==4.5.1
billiard==3.5.0.3
blessed==1.14.1
celery==4.1.0
certifi==2022.12.7
chardet==3.0.4
click==6.7
diffhtml==0.1.1
dj-database-url==0.4.2
Django==1.11.5
django-appconf==1.0.2
django-celery-monitor==1.1.2
django-compressor==1.6
django-crispy-forms==1.6.1
django-crontab==0.7.1
django-debug-toolbar==1.6
django-environ==0.4.1
django-haystack==2.7.dev0
django-picklefield==0.3.2
django-pickling==1.0
django-q==0.8.0
elasticsearch==2.4.1
environ==1.0
future==0.16.0
html5lib==1.0b10
idna==2.6
kombu==4.1.0
git+https://github.com/Python-Logging-For-Human/lazy_logger
lxml==4.0.0
MarkupSafe==1.0
numpy==1.13.3
pandas==0.20.3
psycopg2==2.7.3.1
py==1.4.34
pytest==3.2.2
pytest-django==3.1.2
python-dateutil==2.6.0
python-dotenv==0.7.1
pytz==2017.2
redis==2.10.5
requests==2.18.4
selenium==3.0.2
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
