amqp==2.2.2
arrow==0.8.0
beautifulsoup4==4.5.1
billiard==3.5.0.3
blessed==1.14.1
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.5
django-celery-monitor==1.1.2
django-crontab==0.7.1
django-environ==0.4.1
django-picklefield==0.3.2
django-q==0.8.0
environ==1.0
future==0.16.0
html5lib==0.999999999
idna==2.6
kombu==4.1.0
lazy-logger==0.1.2
lxml==4.0.0
numpy==1.13.1
pandas==0.20.3
psycopg2==2.7.3.1
py==1.4.31
pytest==3.0.5
pytest-django==3.1.2
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.18.4
selenium==3.0.2
six==1.11.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
