{# search.html #}
{% extends 'radars/_base.html' %}
{% load crispy_forms_tags replace %}

{% block title %}Search{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        {% block bar %}{{ block.super }}
            <li class="active">Search</li>
        {% endblock bar %}
    </ul>

    <h2>Tasks search</h2>
    <hr>

    <form method="get" action="." class="form" role="form">
        {#{{ form.non_field_errors }}#}
        <div class="form-group">
            {{ form |crispy}}
            {#{{ form.as_p }}#}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>

        {% if query %}
            <h3>Results</h3>
            <div>
            <table class="table table-striped table-bordered" cellspacing="0" id='result_table'>
                <thead>
                    <tr>
                        <th>Task ID / Group / Name</th>
                        <th>Log</th>
                        <th>Success</th>
                        <th>Args</th>
                        <th>Time</th>
                </thead>
                <tbody>
                    {% for result in page.object_list %}
                        <tr>
                            <td>
                                <p><b>ID:: </b>{{ result.object.id }}</p>
                                <p><b>Group:: </b>{{ result.object.group}}</p>
                                <p><b>Name:: </b>{{ result.name }}</p>
                            </td>
                            <td>
                              {% if result.object.result|length > 1 %}
                                {% for tasks in result.object.result%}
                                    {% for k, v in tasks.items %}
                                    <p><b>GROUP::</b>{{ k }}</p>
                                    <p><b>ARGS::</b>{{ v.args }}</p>
                                    <p><b>REURNCODE::</b>{{ v.returncode }}</p>
                                    <b>STDOUT::</b>{{ v.stdout|replace|safe }}
                                    <b>STDERR::</b>{{ v.stderr|linebreaks }}
                                    {% endfor %}
                                {% endfor %}
                              {% else %}
                                {% for k, v in result.object.result.items %}
                                    <p><b>GROUP:: </b>{{ k }}</p>
                                    <p><b>ARGS:: </b>{{ v.args }}</p>
                                    <p><b>REURNCODE:: </b>{{ v.returncode }}</p>
                                    <b>STDOUT:: </b>{{ v.stdout|replace|safe }}
                                    <b>STDERR:: </b>{{ v.stderr|linebreaks }}
                                {% endfor %}
                              {% endif %}
                            </td>
                            <td>
                                {% if result.success == True %}
                                    <b>OK</b>
                                {% else %}
                                    {{ result.success }}
                                {% endif %}
                            </td>
                            <td>
                                {{ result.object.args.0 }} / {{ result.object.args.1 }}
                            </td>  
                            <td>
                                <p><b>Start:: </b> {{ result.object.started }}</p>
                                <p><b>Stop:: </b> {{ result.object.stopped }}</p>
                                <p><b>Take:: </b> {{ result.object.time_taken }}(s)</p>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>No results found.</tr>
                    {% endfor %}

                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                </tbody>

            <table>
            </div>
        {% endif %}
    </form>
{% endblock content %}
